# Dependencies
node_modules/
.pnp
.pnp.js

# Production / Build
dist/
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Environment variables
.env
.env.local
.env.*.local

# OS / Editor files
.DS_Store
Thumbs.db
# Service Account / Credentials (Private Keys)
*-*.json
*service_account*.json
*.pem
toamnho-family-*.json

